*.log
*.out
*.bak
*.ini
*.cache
/.vscode
desktop.ini
workspace
DotNet/.vscode/
DotNet/WebApp/obj/Debug/
workspace.code-workspace
DotNet/SqlBundle_Docker/.vs/SqlBundle/v17/
*.GeneratedMSBuildEditorConfig.editorconfig
*.editorconfig
DotNet/BundleApi/SqlBundle/obj/Debug/