*.log
*.out
*.bak
*.ini
*.cache
/.vscode
desktop.ini
workspace
DotNet/.vscode/
DotNet/WebApp/obj/Debug/
workspace.code-workspace
DotNet/SqlBundle_Docker/.vs/SqlBundle/v17/
DotNet/BundleApi/SqlBundle/obj/Debug/net6.0/BundleApi.GeneratedMSBuildEditorConfig.editorconfig
