<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Впишите слово</a>.</p>
    <div>
        <form action="WebForm/index">
        <input name="word">
        <input type="submit" class="button" value="Развернуть">
        <br>
        </form>
        <br>
        @ViewData["word"]
    </div>
</div>
